source: ./../www/app/components/otbet

destination: ./html/

exclude:
	- */logging/*
	- */Zend/*


title: Otbet.Ru

todo: yes

groups: packages

debug: yes

report: ./non-commented.info

php: yes

# templateConfig:  ./themes/joostina-bootstrap/config.neon

autocomplete:
	- classes
	- constants
	- functions
	- methods
	- properties
	- classconstants

# baseUrl: http://xboston.github.com/joostina-docs/

# main: joos